:root {
  --ion-color-primary: #2563eb;
  --ion-color-primary-rgb: 37, 99, 235;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2158cf;
  --ion-color-primary-tint: #3b72ed;

  --ion-background-color: #f8fafc;
  --ion-text-color: #0f172a;
}
